@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@font-face {
    font-family: fonte_digital;
    src: url(ticking-timebomb-bb.regular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: #171717;
    color: white;
    width: 630px;
    height: 645px;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    font-family: 'Ubuntu', sans-serif;
    
}

.screen {
    background-color: #c6c6c6c7;
    color: black;
    width: 100%;
    height: 100px;
    padding-right: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 93px;
    font-family: fonte_digital;
    overflow-y: auto;
    position: relative;
}

#symbol1 {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: #c6c6c6c7;
    width: 16px;
    height: 13px;
    font-size: 18px;
    position: absolute;
    top: 3px;
    right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#symbol2 {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: #c6c6c6c7;
    width: 16px;
    height: 13px;
    font-size: 18px;
    position: absolute;
    top: 19px;
    right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#symbol3 {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: #c6c6c6c7;
    width: 16px;
    height: 13px;
    font-size: 13px;
    position: absolute;
    top: 36px;
    right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#symbol4 {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: #c6c6c6c7;
    width: 16px;
    height: 13px;
    font-size: 13px;
    position: absolute;
    top: 52px;
    right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#divide_symbol_small {
    width: 16px;
    height: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

#circle_small {
    background-color: #c6c6c6c7;
    width: 3px;
    height: 3px;
    border-radius: 10px;
}

#traço_small {
    background-color: #c6c6c6c7;
    width: 10px;
    height: 1px;
}

#symbol5 {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: #c6c6c6c7;
    width: 16px;
    height: 13px;
    font-size: 11px;
    position: absolute;
    top: 68px;
    right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.on_button {
    background-color: #00F1B7;
    width: 100px;
    height: 55px;
    border-radius: 50px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
    font-size: 24px;
}

.on_button:active {
    transform: scale(0.87);
}

#all_buttons {
    display: flex;
    width: 100%;
    gap: 1rem;
}

#numbers_container {
    height: 66.5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem 1.5rem;
}

.number {
    background-color: #282828;
    color: white;
    width: 100px;
    height: 87px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    box-shadow: 0px 0px 8px black;
    cursor: pointer;
    font-size: 56px;
}

.number:active {
    transform: scale(0.87);
}

#operators_container {
    height: 66.5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.34rem 1rem;
}

.operator {
    background-color: #9d9d9d;
    color: white;
    width: 100px;
    height: 55px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
    font-size: 36px;
}

.operator:active {
    transform: scale(0.87);
}

#divide_symbol {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

#circle {
    background-color: white;
    width: 6px;
    height: 6px;
    border-radius: 10px;
}

#traço {
    background-color: white;
    width: 33px;
    height: 3px;
}

.bigger {
    height: 167px;
    border-radius: 20px;
    font-size: 60px;
}

.bigger:active {
    transform: scale(0.93);
}

.plus {
    background-color: #00F1B7;
}


.hidden {
    display: none;
}


@media screen and (max-width: 629px) {
    .main {
        width: 400px;
        height: 422px;
        padding: 2rem 1rem 1rem 1rem;
    }

    .screen {
        height: 60px;
        font-size: 50px;
        padding-right: 1.5rem;
    }

    #symbol1 {
        width: 13px;
        height: 10px;
        font-size: 13px;
    }

    #symbol2 {
        width: 13px;
        height: 10px;
        top: 15px;
    }

    #symbol3 {
        width: 13px;
        height: 10px;
        font-size: 9px;
        top: 28px;
    }

    #symbol4 {
        width: 13px;
        height: 10px;
        font-size: 10px;
        top: 40px;
    }

    #divide_symbol_small {
        width: 13px;
        height: 10px;
        gap: 1px;
    }
    
    #circle_small {
        width: 2px;
        height: 2px;
        border-radius: 10px;
    }
    
    #traço_small {
        width: 8px;
        height: 0.5px;
    }

    .on_button {
        width: 60px;
        height: 33px;
        font-size: 16px;
        margin: 14px 0;
    }

    #numbers_container {
        gap: 0.9rem 1.1rem;
    }

    .number {
        width: 60px;
        height: 52px;
        font-size: 42px;
        box-shadow: 0px 0px 4px black;
    }

    #operators_container {
        gap: 1.1rem 1rem;
    }

    .operator {
        width: 60px;
        height: 33px;
        font-size: 20px;
        border-radius: 17px;
    }

    #operators_container > button:nth-of-type(5) {  /*botão de subtrair*/
        font-size: 34px;
    }

    #divide_symbol {
        width: 30px;
        height: 30px;
        gap: 4px;
    }
    
    #circle {
        width: 4px;
        height: 4px;
    }
    
    #traço {
        width: 23px;
        height: 2px;
    }

    .bigger {
        height: 98px;
        border-radius: 16px;
        font-size: 50px;
    }
}

@media screen and (max-width: 400px) {
    .main {
        width: 260px;
        height: 274px;
        padding: 2rem 1rem 1rem 1rem;
    }

    .screen {
        height: 34px;
        font-size: 36px;
        padding-right: 1.3rem;
    }

    #symbol2, #symbol3, #symbol4 {
        top: 3px;
    }

    .on_button {
        width: 35px;
        height: 19.25px;
        font-size: 10px;
        margin: 14px 0;
    }

    #numbers_container {
        gap: 0.5rem 0.8rem;
    }

    .number {
        width: 35px;
        height: 30px;
        font-size: 24px;
        box-shadow: 0px 0px 4px black;
    }

    #operators_container {
        gap: 0.6rem 0.7rem;
    }

    .operator {
        width: 35px;
        height: 19.25px;
        font-size: 14px;
        border-radius: 17px;
    }

    #operators_container > button:nth-of-type(5) {  /*botão de subtrair*/
        font-size: 26px;
    }

    #divide_symbol {
        width: 20px;
        height: 18px;
        gap: 2.5px;
    }
    
    #circle {
        width: 3px;
        height: 3px;
    }
    
    #traço {
        width: 16px;
        height: 2px;
    }

    .bigger {
        height: 56px;
        border-radius: 8px;
        font-size: 30px;
    }
}